extends layout

block content
    link(rel='stylesheet', href='/css/upfile.css')
    h1= title
    p
        b(class="f16") sha256: 
        span #{objCrypto}
    p
        b(class="f16") md5: 
        span #{strMd5Crypto}
    form(action="/upfile/multerSave" enctype="multipart/form-data" method="post")
        input(type="file" name="chinaAvatar" multiple="multiple")
        input(type="submit" value="Upload")
    img(src="/images/7036d2238f4fe19b3119ca3c9de5c14c.jpg" width="150")
